<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-US" }}">
  <head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Copyright © 2018 Pikaping - All righs reserved.<a href="https://qwert1.es">Qwert1 Group</a>.</span>
      </footer>
    </main>
  </body>
</html>
